<div [ngClass]="{ 'task-edit': !changesSaved, task: changesSaved }">
  <form
    class="form"
    [ngClass]="{ task__form: changesSaved, 'task-edit__form': !changesSaved }"
    (ngSubmit)="onFormSubmit()"
    #form="ngForm"
  >
    <div class="form__inputs">
      <label for="taskName">Task:</label>

      <input
        [disabled]="isDisabled"
        type="text"
        id="taskName"
        name="taskName"
        [ngModel]="task"
      />
    </div>

    <div class="form__icons">
      <button class="btn-submit btn" type="submit" (click)="onTaskConfirm()">
        <svg
          class="icon-confirm"
          [ngClass]="{
            'display-none': changesSaved,
            icon: changesSaved,
            'icon-edit-mode': !changesSaved
          }"
        >
          <use xlink:href="/assets/sprite.svg#icon-checkmark"></use>
        </svg>
      </button>
      <button class="btn-edit btn" (click)="onTaskEdit()">
        <svg
          class="icon-edit"
          [ngClass]="{
            'display-none': !changesSaved,
            icon: changesSaved,
            'icon-edit-mode': !changesSaved
          }"
        >
          <use xlink:href="/assets/sprite.svg#icon-pencil"></use>
        </svg>
      </button>

      <button class="btn-delete btn" (click)="onTaskDelete()">
        <svg
          class="icon-delete"
          [ngClass]="{ icon: changesSaved, 'icon-edit-mode': !changesSaved }"
        >
          <use xlink:href="/assets/sprite.svg#icon-bin"></use>
        </svg>
      </button>
    </div>
  </form>
</div>
